[Unit]
Description=HashiCorp's Vault Secrets Store
After=network.target

[Service]
Type=simple
ExecStart={{ vault_root }}/bin/vault server -config={{ vault_config }}/config.hcl
PIDFile=/var/run/vault.pid

[Install]
WantedBy=multi-user.target
